################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/APIcartao/.vs/APIcartao/FileContentIndex
